<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>the home page <%=4+5+1%></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci sapiente laborum placeat incidunt hic quaerat odit illum qui harum alias praesentium, error atque ad porro recusandae esse reiciendis corporis itaque!</p>
    
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, optio et. Sit eum quasi, deserunt ipsum nam asperiores dolorum veritatis amet laborum corrupti iste facilis molestias maxime. Ea, rerum! Sequi.</p>
</body>
</html>